* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cormorant Garamond', serif;
}

.centrado {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.centrado button {
  flex: 1;
  margin: 0 10px;
}